$green: #5cb85c !default;

$primary: $green;

$link-color: $green;
$body-bg: #1a1b1d;

$font-family-sans-serif: "Relawey", Roboto, "Helvetica Neue", Arial, sans-serif;

/*
$spacer-y:                     .75rem !default;
$spacer-x:                     1.25rem !default;
$spacers: (
 6: (
   x: ($spacer-x * 9),
   y: ($spacer-y * 9)
  )
);
*/
